* {
  /*border: 1px solid blue;*/
}
/* Color Scheme - purple peach
Lavendar: #EDD2E0
Middle purple: #6C596E
Dark purple: #422040
Peach: #EDBBB4
Pink: #DBABBE
*/
body {
  background: linear-gradient(90deg, #4E3E4F, #281C29);
  font-family: 'Poppins', sans-serif;
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
  color: #fff;
}

footer{
  color: #6C596E;
  text-align: right;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #FDE8E9;
}

.btn{
  background-color: #BC9DC1;
  border: none;
}
.btn:hover {
  background-color: #E3BAC6;
  border: none;
}
.btn-primary.disabled, .btn-primary:disabled {
  background-color: #634C53;
  border: none;
}

/* NAVBAR STYLING */
#navbar ul {
  font-size: 1.2em;
  margin: 0;
  padding: 5px;
  list-style-type: none;
  text-align: left;
  background-color: #422040;
 }

#navbar ul li {
 display: inline;
 }

#navbar ul li a {
 text-decoration: none;
 padding: .2em 1em;
 color: #FDE8E9;
 }

#navbar ul li a:hover {
 color: #E3BAC6;
 }

 #logo {
   color: #fff;
 }

 #logo i {
   color: #DBABBE;
 }

 .disabled {
   color: #6C596E;
 }

/* TITLE STYLING */
.title {
  font-family: 'Merriweather', serif;
  color: #EDBBB4;
  opacity: 1.0;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
}
.lead{
  color: #EDBBB4;
}

/* CONTENT ROWS STYLING */
.contentBox {
  color: #DBABBE;
  /*background-color: #422040;*/
  background: linear-gradient(90deg, #4E3E4F, #281C29);
  padding: 25px 50px;
  text-align: center;
  min-height: 250px;
}

.textBox {
  font-size: 1.1em;
}

.aboutMeText a, .textBox a{
  color: #EDBBB4;
}

#frisbeeImg {
  width: 80%;
}

/* PROJECT PAGE STYLING */
.projectList li a {
  list-style-type: none;
  text-decoration: none;
  padding: .2em 1em;
  color: #FDE8E9;
}

.techListLeftAlign{
  list-style-type: disc;
  text-align: left;
}

.projDescription {
  margin-top: 30px;
}

/* PARALLAX STYLING - Home Page */

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-size: cover;

}
.bgimg-1 {
  min-height: 500px;
}

.bgimg-2 {
  background-image: url('../assets/img/inWindowBW.jpg');
  min-height: 400px;
}

.bgimg-3 {
  background-image: url('../assets/img/FFparking.jpg');
  min-height: 400px;
}

.bgimg-4 {
  background-image: url('../assets/img/PopBus.jpg');
  min-height: 400px;
}

.bgimg-5 {
  background-image: url("../assets/img/stickers_washedOut.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 25%;
  top: 45%;
  width: 50%;
  text-align: center;
  color: #EDBBB4;
}

.caption span.border {
  background-color: rgba(0,0,0,0);
  color: #FFF;
  padding: 18px;
  font-family: 'Merriweather', serif;
  font-size: 3.0em;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #000;
}

.parallax {
    /* The image used */
    background-image: url("../assets/img/stickers_washedOut.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* PARALLAX STYLING - Project Page */

.projImg-1, .projImg-2, .projImg-3, .projImg-4, .projImg-5 {
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-size: cover;

}
.projImg-1 {
  min-height: 500px;
}

.projImg-2 {
  background-image: url('../assets/projectImg/recipe.jpg');
  min-height: 400px;
}

.projImg-3 {
  background-image: url('../assets/projectImg/landingPage.jpg');
  min-height: 400px;
}

.projImg-4 {
  background-image: url('../assets/img/PopBus.jpg');
  min-height: 400px;
}

.projImg-5 {
  background-image: url("../assets/img/stickers_washedOut.jpg");
  min-height: 400px;
}

.projectImage {
  width: 100%;
  margin: 5px;
}
.techList {
  list-style-type: none;
  text-align: center;
}
