<div class="container-fluid row aboutMeText">
  <div class="col-5">
    <img id="myImage" class="imgframe" src="../../assets/amanda.jpg" alt="Self portrait">
  </div>

  <div class="col-7">
    <h1 class="title">About Me</h1>
    <p>
      For the six and a half years prior to beginning my web development bootcamp at
      <a href="https://primeacademy.io/">Prime Digital Academy</a>, I was an adjunct
      instructor at <a href="http://www.ipr.edu/">IPR - College of Media Arts</a>. It was a great six and a half years working with not only wonderfully creative
      students but also truly amazing faculty and staff. That position also managed
      to utilize the bulk of my random knowledge and experience, ranging from film
      studies, video production, and Adobe Creative Suite to theatrical lighting design,
      corporate audio-video skills, and computer programming.
    </p>
    <p>
      When I'm not writing code, learning about new technologies, or being a
      nerd in general, I have a few hobbies and sports I do. Currently, I'm a
      lapsed homebrewer, but I do enjoy checking out new taprooms when I can,
      usually by bike. I knit various hats, blankets, and nerdy items for friends
      and family. To keep myself active, I play Ultimate frisbee when it's nice
      outside and broomball when the snow falls. Occasionally, I'm an amateur photographer.
    </p>
  </div>
</div>

<div class="container-fluid row aboutMeText">
  <div class="col-md-5">
    <p class="strengths"><span class="strengthTitle">StrengthsFinder:</span> Intellection, Harmony, Input, Relator, Responsibility</p>
    <p class="strengths"><span class="strengthTitle">Fun fact: </span>Grew up on a farm raising llamas, sheep, and pigs</p>
    <p class="strengths"><span class="strengthTitle">Favorite Fictional Character: </span><em>Spock.</em> He's calm in a crisis and analyzes a situation before jumping in.</p>
  </div>
  <div class="col-md-3">
    <img id="frisbeeImg" class="imgframe" src="../../assets/AmandaFrisbee.jpg" alt="">
  </div>
  <div class="col-md-3">
    <img id="beerFlightImg" class="hobbyImg imgframe" src="../../assets/beerFlight.jpg" alt="">
  </div>

</div>
