<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About Me</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/main.css">
    <script src="../scripts/client.js" charset="utf-8"></script>
  </head>
  <body>
    <!-- NAVBAR -->
    <div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="../index.html">
          <i class="fa fa-flask" aria-hidden="true"></i>
          <i class="fa fa-beer" aria-hidden="true"></i>
          Geeky Brewster
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./aboutme.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./projects.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://geekybrewsterblog.wordpress.com/">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- Content -->
    <div class="content">

    <div class="container-fluid row aboutMeText">
      <div class="col-5">
        <img id="myImage" class="imgframe" src="../../assets/amanda.jpg" alt="Self portrait">
      </div>
      <div class="col-7">
        <h1 class="title">About Me</h1>
        <p>
          For the six and a half years prior to beginning my web development bootcamp at
          <a href="https://primeacademy.io/">Prime Digital Academy</a>, I was an adjunct
          instructor at <a href="http://www.ipr.edu/">IPR - College of Media Arts</a>. It was a great six and a half years working with not only wonderfully creative
          students but also truly amazing faculty and staff. That position also managed
          to utilize the bulk of my random knowledge and experience, ranging from film
          studies, video production, and Adobe Creative Suite to theatrical lighting design,
          corporate audio-video skills, and computer programming.
        </p>
        <p>
          When I'm not writing code, learning about new technologies, or being a
          nerd in general, I have a few hobbies and sports I do. Currently, I'm a
          lapsed homebrewer, but I do enjoy checking out new taprooms when I can,
          usually by bike. I knit various hats, blankets, and nerdy items for friends
          and family. To keep myself active, I play Ultimate frisbee when it's nice
          outside and broomball when the snow falls. Occasionally, I'm an amateur photographer.
        </p>
      </div>
    </div>
    <div class="container-fluid row aboutMeText">
      <div class="col-md-5">
        <p class="strengths"><span class="strengthTitle">StrengthsFinder:</span> Intellection, Harmony, Input, Relator, Responsibility</p>
        <p class="strengths"><span class="strengthTitle">Fun fact: </span>Grew up on a farm raising llamas, sheep, and pigs</p>
        <p class="strengths"><span class="strengthTitle">Favorite Fictional Character: </span><em>Spock.</em> He's calm in a crisis and analyzes a situation before jumping in.</p>
      </div>
      <div class="col-md-3">
        <img id="frisbeeImg" class="hobbyImg imgframe" src="../../assets/AmandaFrisbee.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img class="hobbyImg imgframe" src="../../assets/beerFlight.jpg" alt="">
      </div>

    </div>
  </div> <!-- end of content container -->

    <footer>
      <hr>
      <p>&copy;2017 Amanda Kirchner</p>
    </footer>

    <!-- Scripts for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
  </html>
