<div class="parallax">

  <div class="bgimg-1">
    <div class="caption">
      <div class="border">
        <img id="myImg" src="../../assets/img/amanda.jpg" alt="">
      </div>
      <div>
        <span class="border">Amanda Kirchner</span>
        <p class="lead">A Javascript Developer who likes
          problem solving through code <br />and knitting
          while enjoying a good craft beer</p>
      </div>
    </div>
  </div>

  <div class="contentBox">
    <h3>Lifelong Learner</h3>
    <p class="textBox">Leaving behind seven years of teaching creative
        arts to dive headlong into software development.</p>
    <h3>Problem Solver</h3>
    <p class="textBox">Finding solutions through code and teamwork. Bugs in code
        are simply another problem to solve.</p>
        <h3>Secretly a Vulcan</h3>
        <p class="textBox">Logical, organized, and a stickler for code comments.
        Loves helping others learn, despite being an introvert. </p>
  </div>

  <div class="bgimg-2">

  </div>

  <div class="contentBox"style="position:relative;">
    <h3>Giant Nerd</h3>
    <p class="textBox">Working with Javascript to build full stack web applications,
      but expanding her coding horizons with other languages.</p>
    <h3>Technologies Known</h3>
    <p class="textBox"> HTML 5 &amp; CSS 3, JavaScript, jQuery, Angular JS (v.1.6),
      Node.js, Express, MongoDB &amp; Mongoose, PostgreSQL,<br />Bootstrap 3 &amp; 4,
      Angular Material, AJAX, git &amp; Github, NPM, Passport.js, APIs</p>
  </div>

  <div class="bgimg-3">

  </div>

  <div class="contentBox" style="position:relative;">
      <h3>Projects</h3>
      <p class="textBox">Want to see what I've been<a href="#/projects"> working on?</a> <br />
      Or would you like to see what I'm learning now?</p>
      <h3>Blog</h3>
      <p class="textBox">
      Or would you like to check out
      <a href="https://geekybrewsterblog.wordpress.com/">my random musing</a> on coding?</p>
  </div>

  <div class="bgimg-4">

  </div>

  <div class="contentBox row" style="position:relative;">
      <div class="col-md-7">
        <p class="aboutMeText">For the six and a half years prior to beginning my web development bootcamp at
        <a href="https://primeacademy.io/">Prime Digital Academy</a>, I was an adjunct
        instructor at <a href="http://www.ipr.edu/">IPR - College of Media Arts</a>. It was a great six and a half years working with not only wonderfully creative
        students but also truly amazing faculty and staff. That position also managed
        to utilize the bulk of my random knowledge and experience, ranging from film
        studies, video production, and Adobe Creative Suite to theatrical lighting design,
        corporate audio-video skills, and computer programming.</p>
        <p class="aboutMeText">
          When I'm not writing code, learning about new technologies, or being a
          nerd in general, I have a few hobbies and sports I do. Currently, I'm a
          lapsed homebrewer, but I do enjoy checking out new taprooms when I can,
          usually by bike. I knit various hats, blankets, and nerdy items for friends
          and family. To keep myself active, I play Ultimate frisbee when it's nice
          outside and broomball when the snow falls. Occasionally, I'm an amateur photographer.
        </p>
      </div>
      <div class="col-md-5">
        <img id="frisbeeImg" src="../assets/img/AmandaFrisbee.jpg" alt="">
      </div>
  </div>

  <div class="bgimg-5">
    <div class="caption">
      <span class="border">Thanks for visiting!</span>
    </div>
  </div>

</div> <!-- end of parallax container -->
