<div class="parallax">

  <div class="projImg-1">
    <div class="caption">
      <span class="border">Projects</span>
      <p class="lead">Here's what I've been working on.</p>
    </div>
  </div>

  <div class="contentBox row">
    <div class="col-md-3">
      <h3>Technologies Known:</h3>
      <ul class="techList">
        <li>HTML 5 / CSS 3</li>
        <li>AngularJS</li>
        <li>jQuery</li>
        <li>Node.js / Express</li>
        <li>PostgreSQL</li>
        <li>MongoDB / Mongoose</li>
        <li>Bootstrap</li>
        <li>Angular Material</li>
        <li>git &amp; Github</li>
        <li>Passport.js</li>
        <li>APIs</li>
      </ul>
    </div>
    <div class="col-md-5">
      <p>
        While at Prime Digital Academy, we focused on full stack software development using Javascript.
        We also did a variety of project incorporating solo coding, pair programming, and group projects.
      </p>
      <br>
      <p>Click a link to view a few of those projects: </p>
      <ul class="techList">
        <li><a href="https://guarded-garden-54385.herokuapp.com/">Color blocks using Angular or jQuery</a></li>
        <li><a href="https://young-hamlet-35918.herokuapp.com/">Photo gallery using Angular</a></li>
        <li>More coming soon</li>
      </ul>
    </div>
    <div class="col-md-4">
      <img class="projectImage" src="../assets/projectImg/imageGallery.jpg" alt="">
    </div>
  </div>

  <div class="projImg-2">

  </div>

  <div class="contentBox"style="position:relative;">
    <h3>myBr&uuml; - Homebrew Tracking App</h3>
    <div class="row">
      <div class="col-md-4">
        <img class="projectImage" src="../assets/projectImg/myBruMenu.jpg" alt="">
        <img class="projectImage" src="../assets/projectImg/drinkBru.jpg" alt="">
      </div>
      <div class="col-md-4 projDescription">
        <h4>Project Description</h4>
        <p>myBr&uuml; is a full-stack application where homebrewers can track the details
          of the brewing process from recipe preparation through the brewing of
          the beer and finally to the tasting and evaluation of the final product.
          The brewer will be prompted to create an account where they’ll store their
          recipes, brewing notes, &amp; final project notes.</p>
          <p>
            Eventually, myBr&uuml; will include additional tracking for fermentation,
            bottling / kegging, and lagering. There will also be Google Calendar integration
            with reminders of approaching dates for switching to secondary fermentation, bottling,
            and drinking the final brew.
          </p>
      </div>
      <div class="col-md-4">
        <h4>Technologies Used</h4>
        <ul class="techListLeftAlign">
          <li>MEAN Stack: MongoDB, Express, AngularJS, Node.js</li>
          <li>Angular Material for styling</li>
          <li>Angular x-editable for in-line editing</li>
          <li>Passport.js for user authentication</li>
          <li>BreweryDB API for beer style data</li>
          <li>Google Font and Font Awesome for text and icon styling</li>
          <li>Heroku and mLabs for web deployment</li>
          <li>git &amp; Github for version control</li>
          <li>Trello for project management</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="projImg-3">

  </div>

  <div class="contentBox" style="position:relative;">
    <h3>Goal Tracker CI - <br /> Group project for a local nonprofit organization</h3>
    <div class="row">
      <div class="col-md-4">
        <img class="projectImage" src="../assets/projectImg/myBruMenu.jpg" alt="">
        <img class="projectImage" src="../assets/projectImg/drinkBru.jpg" alt="">
      </div>
      <div class="col-md-4 projDescription">
        <h4>Project Description</h4>
        <p>[Group project] Goal Tracker CI is a full-stack application that will allow
          the staff at Choice’s three locations to track the personal and professional
          goals of the participants in their day program services, while also providing data on
          goal completion over a set period of time. At the basic staff level, users will
          be able to enter morning &amp; afternoon goal completion, view previous days’
          entries, and mark a participant absent. Case managers will also be able to
          create &amp; edit personalized goals for participants and review summary data
          for three month &amp; six month periods in order to write reports. Location
          administrators will be able to manage staff, including add &amp; delete staff
          accounts; manage participants, including adding &amp; removing participants
          and assigning case managers; and managing job site information.</p>
      </div>
      <div class="col-md-4">
        <h4>Technologies Used</h4>
        <ul class="techListLeftAlign">
          <li>SEAN Stack: PostgreSQL, Express, AngularJS, Node.js</li>
          <li>Angular Material for styling</li>
          <li>Material Design Data Table for data table styling and pagination</li>
          <li>Passport.js for user authentication</li>
          <li>SweetAlert2 for user notifications and modals</li>
          <li>Font Awesome for icons</li>
          <li>Heroku for web deployment</li>
          <li>git &amp; Github for version control</li>
          <li>Trello for project management</li>
          <li>Nodemailer for email notifications</li>
          <li>apiDoc for route documentation</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="projImg-4">

  </div>

  <div class="contentBox row" style="position:relative;">
    <div class="col-md-6">
      <img class="projectImage" src="../assets/projectImg/imageGallery.jpg" alt="">
    </div>
    <div class="col-md-6">
      <h4>Currently Learning</h4>
      <ul class="techList">
        <li>PHP</li>
        <li>Java</li>
      </ul>
    </div>
  </div>

  <div class="projImg-5">
    <div class="caption">
      <span class="border">Thanks for visiting!</span>
    </div>
  </div>

</div> <!-- end of parallax container -->
