<div class="parallax">

  <div class="projImg-1">
    <div class="caption">
      <span class="border">Projects</span>
      <p class="lead">Here's what I've been working on.</p>
    </div>
  </div>

  <div class="contentBox">
    <p>Something here</p>
  </div>

  <div class="projImg-2">

  </div>

  <div class="contentBox"style="position:relative;">
    <h3>myBr&uuml; - Homebrew Tracking App</h3>
    <div class="row">
      <div class="col-md-4">
        <img class="projectImage" src="../assets/projectImg/myBruMenu.jpg" alt="">
        <img class="projectImage" src="../assets/projectImg/drinkBru.jpg" alt="">
      </div>
      <div class="col-md-4">
        <p>Project Description</p>
      </div>
      <div class="col-md-4">
        <p>Technologies Used</p>
        <ul class="techList">
          <li>Something</li>
          <li>Something</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="projImg-3">

  </div>

  <div class="contentBox" style="position:relative;">
    <h3>Goal Tracker CI - <br /> Group project for a local nonprofit organization</h3>
    <div class="row">
      <div class="col-md-4">
        <img class="projectImage" src="../assets/projectImg/mainMenu.jpg" alt="">
        <img class="projectImage" src="../assets/projectImg/tracking.jpg" alt="">
      </div>
      <div class="col-md-4">
        <p>Project Description</p>
      </div>
      <div class="col-md-4">
        <p>Technologies Used</p>
        <ul class="techList">
          <li>Something</li>
          <li>Something</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="projImg-4">

  </div>

  <div class="contentBox row" style="position:relative;">
    <div class="col-md-6">
      <img class="projectImage" src="../assets/projectImg/imageGallery.jpg" alt="">
    </div>
    <div class="col-md-6">
      <h3>Currently Learning</h3>
      <ul class="techList">
        <li>PHP</li>
        <li>Java</li>
      </ul>
    </div>
  </div>

  <div class="projImg-5">
    <div class="caption">
      <span class="border">Thanks for visiting!</span>
    </div>
  </div>

</div> <!-- end of parallax container -->
